.home{
    height: 100vh;
    background-image: url('../../utils/bg.png');
    position: relative;
}

.home main{
    flex: 1;
    background: rgba(252,246,249,0.78);
    border: 3px solid #FFF;
    backdrop-filter: blur(4.5px);
    border-radius: 32px;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        width: 0;
    }
}